body {
  background-color: whitesmoke;
}

h1 {
  text-align: center;
}

span {
  display: block;
}

ul {
  padding: 0;
}

li {
  max-width: 350px;
  list-style-type: none;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  margin: 20px auto;
}
